<footer class="layout-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="contact-wrapper">
                    <h3>Contact</h3>
                    <div>
                        <img src="/images/icons/circle_kettlebell.svg">
                        <p><a href="mailto:crossfit@crossfitmadtown.com"></i>crossfit@crossfitmadtown.com</a></p>
                    </div>
                    <div>
                        <img src="/images/icons/circle_timer.svg">
                        <p><a href="mailto:athletics@crossfitmadtown.com"></i>athletics@crossfitmadtown.com</a></p>
                    </div>
                    <div>
                        <p><i class="fa fa-envelope-o" aria-hidden="true"><a href="mailto:coaches@crossfitmadtown.com"></i>coaches@crossfitmadtown.com</a></p>
                    </div>
                    <h3>Location</h3>
                    <div><p>2500 Pleasant View Rd. #101</p></div>
                    <div><p>Middleton, WI 53562 </p></div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="map-wrapper">
                    <div id="map">
                        <a href="http://www.google.com/maps/place/CrossFit+MadTown,Middleton,WI" target="_blank">
                            <img src="/images/staticmap.png" width="600" frameborder="0" style="border:0" allowfullscreen></img>
                            <!--<img src="http://www.google.com/maps/api/staticmap?center=43.1036786,-89.5370387&key=AIzaSyAS7N_IBsa9IPxO7Ml0QaTE5w_1NrcHOqQ&size=480x320&zoom=15&markers=markers=color:red%7Clabel:M%7C43.1036786,-89.5370387&scale=2" width="600" frameborder="0" style="border:0" allowfullscreen></img>-->
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>