<div class="background-overlay"></div>
<div class="background-stripes">
    <div class="stripe topStripe red-background"></div>
    <div class="stripe middleStripe yellow-background"></div>
    <div class="stripe bottomStripe green-background"></div>
</div>
<section id="header">
    <div class="carousel">
        <div id="slider1" style="background: url('/images/header/carli_rings2.jpg') 0 0 no-repeat; background-size: cover;"></div>
        <div id="slider2" class="transparent" style="background: url('/images/header/wod.jpg') 0 0 no-repeat; background-size: cover;"></div>
        <div id="slider3" class="transparent" style="background: url('/images/header/slider1.jpg') 0 0 no-repeat; background-size: cover;"></div>
        <div id="slider4" class="transparent" style="background: url('/images/header/slider2.jpg') 0 0 no-repeat; background-size: cover;"></div>
        <div id="slider5" class="transparent" style="background: url('/images/header/slider4.jpg') 0 0 no-repeat; background-size: cover;"></div>
    </div>
    <div class="mask">
        <div id="home-logo">
            <img src="/images/logo-head.svg" alt="CrossFit Madtown Logo">
        </div>
        <h1 id="siteTitle" class="editable"><span>CROSSFIT</span><span class="yellow-font">MA<span>DTO</span>WN</span></h1>
        <h2 class="editable">We're a <span>weightlifting</span> gym with a <span>CrossFit</span> problem.</h2>
    </div>
    {{>topnav}}
    {{>sidenav}}
</section>
