<section id="site-menu" class="visible-xs">
    <a href="#" class="toggle-nav" id="menu-close"><span class="fa fa-times"></span></a>
    <div class="menu-links">
        <a class="page-link" href="/">Home</a>
        <a class="page-link" href="/crossfit">CrossFit</a>
        <a class="page-link" href="/athletic-performance">Athletic Performance Training</a>
        <a class="page-link" href="/olympic-lifting">Olympic Lifting</a>
        <a class="page-link" href="/hot-mammas">Hot Mammas</a>
        <a class="page-link" href="/coaches">Coaches</a>
    </div>
</section>
<a href="#" class="toggle-nav btn visible-xs " id="menu-btn"><span class="fa fa-bars"></span>
</a>

