<section id="site-top-menu" class="hidden-xs {% if page.layout == 'internal' or page.layout == 'post' %}internal-site-top-links{% endif %}">
    <ul class="menu-top-links">

        <li class="page-top-link"><a  href="/">Home</a></li>
        <li class="page-top-link"><a  href="/crossfit">CrossFit</a></li>
        <li class="page-top-link"><a  href="#">Athletic Performance Training<span class="fa fa-angle-down"></span></a>
            <ul class="page-top-link-menu">
                <li><a href="/youth-athletic-performance-training/" class="cc-active">Youth</a></li>
                <li><a href="/high-school-athletic-performance-training/">High School</a></li>
                <li><a href="/sport-specific-athletic-performance-training/">Sport Specific</a></li>
                <li><a href="/summer-camp-2016/">Summer Camp Times &amp; Costs</a></li>
                <li><a href="/summer-training-camps/">Summer Camps</a></li>
            </ul></li>

        <li class="page-top-link"><a class="page-top-link" href="/olympic-lifting">Olympic Lifting</a></li>
        <li class="page-top-link"><a class="page-top-link" href="/hot-mammas">Hot Mammas</a></li>
        <li class="page-top-link"><a class="page-top-link" href="/coaches">Coaches</a></li>
    </ul>
</section>
</a>




