<section id="site-top-menu" class="hidden-xs {% if page.layout == 'internal' or page.layout == 'post' %}internal-site-top-links{% endif %}">
    <ul class="menu-top-links">

        <li class="page-top-link"><a class="page-top-link" href="/">Home</a></li>
        <li class="page-top-link"><a class="page-top-link" href="/crossfit">CrossFit</a></li>
        <li class="page-top-link"><a class="page-top-link" href="/athletic-performance">Athletic Performance Training</a>
        <li class="page-top-link"><a class="page-top-link" href="/olympic-lifting">Olympic Lifting</a></li>
        <li class="page-top-link"><a class="page-top-link" href="/hot-mammas">Hot Mammas</a></li>
        <li class="page-top-link"><a class="page-top-link" href="/coaches">Coaches</a></li>
    </ul>
</section>
</a>




