<html>
  <head>
    <title>{{title}}</title>
    {{>head}}
    {{> styles}}
  </head>
  <body class="main-layout">
    <div id="site-wrapper">
    {{> header}}

        <div id="site-canvas">
            {{{body}}}

            {{> footer}}
        </div>
    {{> scripts}}
    </div>
  </body>
</html>