<html>
  <head>
    <title>{{title}}</title>

    {{> styles}}
  </head>
  <body class="main-layout">
    <div id="site-wrapper">
    {{> header}}

    {{{body}}}

    {{> scripts}}

    {{#if PROD_MODE}}
    {{{block 'googleAnalyticsScripts'}}}
    {{/if}}

    {{> footer}}
    </div>
  </body>
</html>