<html>
<head>
    <title>{{title}}</title>
    {{>head}}
    {{> styles}}
</head>
<body class="popout-layout">
<div id="site-wrapper" class="transition-element">
    <div id="site-canvas" class="transition-element">
        {{{body}}}
    </div>
</div>
{{> scripts}}
</body>
</html>