<html>
<head>
    <title>{{title}}</title>
    {{>head}}
    {{> styles}}
</head>
<body class="sub-main-layout">
{{> header}}
    <div id="site-canvas">
        <div class="sub-main-body">
            <section id="post" class="">
                <div class="post-content">
                    {{{body}}}
                </div>
            </section>
        </div>
        {{> footer}}
    </div>
{{> scripts}}
</body>
</html>