{{!>sub.main}}
<p>
At CrossFit Madtown, we focus on helping you reach your full athletic potential. Whether you have never lifted a weight before, or you have been swinging kettlebells for years, we help you improve your form and increase your efficiency.
</p>
<p>
<h3>What is Crossfit?</h3>
</p>
<p><img alt="Girl on Rings" src="{{img1}}" /></p>
<p>
"CrossFit advocates a mix of aerobic exercise, gymnastics (body weight exercises), and Olympic weight lifting. CrossFit describes its strength and conditioning program as, constantly varied, high-intensity, functional movement, with a stated goal of improving fitness, which it defines as \'work capacity across broad time and modal domains\'. Hour-long classes at affiliated gyms, or \'boxes\', typically include a warm-up, a skill development segment, the high-intensity \'workout of the day\' (or WOD), and a period of individual or group stretching. Performance on each WOD is often scored and/or ranked to encourage competition and to track individual progress.\"
</p>
<p>
<a href="https://en.wikipedia.org/wiki/CrossFit">Read More</a>
</p>
<p>
<h3>Do I Need Any Experience?</h3>
</p>
<p><img alt="Instructor with Student" src="{{img2}}" /></p>
<p>
No previous experience is necessary! Many of our regulars started at CrossFit Madtown with little to no experience. We will guide you through each workout and help you improve your form and technique during every class. Our coaches train you in everything from strength, to agility, to flexibility, and much more.
</p>
<p>
<h3>How Do I Get Started?</h3>
</p>
<p><img alt="People Running" src="{{img3}}" /></p>
<p>
We recommend starting with our Introduction to Crossfit class. Most members spend 8-10 weeks in our Introduction to CrossFit class before they begin in the regular sessions. However, it is not required, and depending on your athletic abilities, you may able to start regular classes sooner. The first class is free, so contact us today to sign up!
</p>
<br />
<br />
<p>
<h1>Classes and Costs</h1>
</p>
<p>
<h3>CrossFit</h3>
</p>
<p>
This class delivers a fitness style that is, by design, broad, general, and inclusive for any level of athlete. It is a strength and conditioning program built on constantly varied, if not randomized, functional movements executed at high intensity. This program combines elements of gymnastics, Olympic Weightlifting and resistance training with traditional and non-traditional tools, combined to create a great workout for any person looking to get fit. CrossFit training challenges the body in a variety of ways and is completely scalable and easily modified to suit any exerciser. This program is guaranteed to improve cardiovascular endurance, stamina, strength, flexibility, power, speed, coordination, accuracy, agility and balance.
</p>
<hr />
</p>
<p>
<strong>Training Cost</strong>
</p>
<p>
10-pack of Classes: $150
</p>
<p>
2 Classes/Week: $90/month
</p>
<p>
Unlimited adult classes (including Crossfit and Olympic Lifting): $150/month
</p>
<p>
Couples Unlimited Rate: $200 ($100 each)
</p>
<p>
Drop-In Rate: $20
</p>
<p>
<strong>Days/Times:</strong>
</p>
<p>
Monday-Friday: 5:30am - 6:30m
</p>
<p>
Monday-Friday: 6:30am - 7:30am
</p>
<p>
Monday-Saturday: 12pm - 1pm
</p>
<p>
Monday-Friday: 4pm - 5pm
</p>
<p>
Monday-Friday: 5pm - 6pm
</p>
<p>
Monday-Thursday: 6pm - 7pm
</p>
<p>
Saturday: 7am - 8am
</p>
<p>
<strong>l Details:</strong>
</p>
<p>
Gender: Male/Female
</p>
<p>
Ages: 18+
</p>
<p>
<hr />
</p>
<p>
<h3>Intro to CrossFit</h3>
</p>
<p>
This fundamentals-focused class is a great way to break your way into CrossFit style training. It has all that the CrossFit class has to offer but designed for the beginner or for some who may have some special training circumstances. We recommend taking this class for at least a month or two before moving into the CrossFit classes to gain a base knowledge and comfort with the different movements used commonly in class. Note: First class is free! Contact us for more information.
</p>
<p>
<hr />
</p>
<p>
<strong>Crossfit Training Cost</strong>
</p>
<p>
10-pack of Classes: $150
</p>
<p>
2 Classes/Week: $90/month
</p>
<p>
Unlimited adult classes (including Crossfit and Olympic Lifting): $150/month
</p>
<p>
Couples Unlimited Rate: $275 ($137 each)
</p>
<p>
Drop-In Cost: $20
</p>
<p>
<strong>Days/Times:</strong>
</p>
<p>
Tuesday/Thursday: 6pm - 7pm
</p>
<p>
Saturday: 7am - 8am
</p>
<p>
<strong>l Details:</strong>
</p>
<p>
Gender: Male/Female
</p>
<p>
Ages: 18+
</p>

<hr />
