{{!> main}}

<section class="container-fluid" style="display:none;">
    <div class="jumbotron jumbotron-annoucement">
        <h1>2016 Wisconsin LWC Championships</h1>
        <p>This year's championships are being held right here at CrossFit Madtown 4/23-4/24!</p>
        <p>Stop by to watch the action or check out the live stream, lifting starts Saturday 9am</p>
        <p>
            <a class="btn btn-primary btn-lg" href="http://www.wisconsinweightlifting.org/s/2016LWCStartList-Preliminary.pdf" role="button" target="_blank">Preliminary Sessions</a>
            <a id="btnLiveStream" class="btn btn-primary btn-lg" href="http://live.5nines.com/" target="_blank" role="button">Live Stream</a>
        </p>
    </div>
</section>
<section class="container-fluid layout-section layout-section-white">
    <div class="row">
        <div class="col-sm-12 col-sm-4 light-border">
            <div class="feature-wrapper">
                <div class="feature-content">
                    <!--<div class="img-wrapper">-->
                    <!--	<img  class="editable" src="images/icons/timer.svg">-->
                    <!--</div>-->
                    <h3  class="editable">Youth Athletic<br /> Performance Training</h3>
                    <p  class="editable">Our Athletic Performance Training for youth is geared towards children Ages 8-18. Whether the kids are serious about playing a sport, or just testing out their athleticism, there is a class for everyone!</p>
                </div>
                <a href="/athletic-performance" class="btn btn-more editable">Learn More</a>
            </div>
        </div>
        <div class="col-sm-12 col-sm-4 light-border">
            <div class="feature-wrapper">
                <div class="feature-content">
                    <!--<div class="img-wrapper">-->
                    <!--	<img  class="editable" src="images/icons/kettlebell.svg">-->
                    <!--</div>-->
                    <h3 class="editable">Crossfit</h3>
                    <p class="editable">Whether you're new to the "sport of fitness" or have a goal of competing in the CrossFit Games, there's a CrossFit MadTown class for you.</p>
                </div>
                <a href="/crossfit/" class="btn btn-more editable">Learn More</a>
            </div>
        </div>
        <div class="col-sm-12 col-sm-4">
            <div class="feature-wrapper last">
                <div class="feature-content">
                    <!--<div class="img-wrapper oly">-->
                    <!--	<img  class="editable" src="images/icons/oly.svg">-->
                    <!--</div>-->
                    <h3 class="editable">Olympic Weightlifting</h3>
                    <p class="editable"> If you're looking to develop speed, acceleration, coordination, strength, and power, or if you simply want to up your fitness game, then Olympic Lifting with CrossFit MadTown is for you.</p>
                </div>
                <a href="/olympic-lifting/" class="btn btn-more editable">Learn More</a>
            </div>
        </div>
    </div>
</section>
        {{> testimonials}}
</section>
