#header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height:@xsHeaderHeight;
  background: url('/images/gymfloor.jpg');
  background-size:200px 200px;

  .owl-carousel {
    opacity:.9;
  }

  .mask {
    background: rgba(0,0,0,.4);
    border-bottom: solid 3px #111;
  }
}