@import "/stylesheets/bootstrap.less";
@import "/stylesheets/font-awesome.less";
@import "/stylesheets/owl.carousel.less";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300,600);

@import "/stylesheets/normalize.less";
@import "/stylesheets/variables.less";


@import "/stylesheets/header.less";
@import "/stylesheets/footer.less";
@import "/stylesheets/main.layout.less";
@import "/stylesheets/page.layout.less";
@import "/stylesheets/sub.main.layout.less";


@import "/stylesheets/size_xs_small.less";
@import "/stylesheets/size_small.less";
@import "/stylesheets/size_medium.less";
@import "/stylesheets/size_large.less";


@import "/stylesheets/menu.less";
@import "/stylesheets/carousel.less";

body {
  width:100%;
}

footer {
  margin-top:0;
}

.resources {
  display:none;
}

#post,#main {
}